/* Global Reset and Box-Sizing */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

svg {
  pointer-events: none;
}

/* Root Variables */
:root {
  /* Font Sizes */
  --fs-200: clamp(0.78rem, calc(0.71rem + 0.35vw), 0.96rem);
  --fs-300: clamp(0.94rem, calc(0.84rem + 0.51vw), 1.2rem);
  --fs-400: clamp(1.13rem, calc(0.98rem + 0.73vw), 1.5rem);
  --fs-500: clamp(1.94rem, calc(1.56rem + 1.92vw), 2.93rem);
  --fs-600: clamp(2.8rem, calc(2.11rem + 3.47vw), 4.58rem);
  --lh-1: 1;
  --lh-1-1: 1.1;
  --lh-1-4: 1.4;

  /* Colors */
  --accent: 183 74% 44%;
  --bkg: 190 60% 98%;
  --text: 185 26% 9%;
  --muted: 183 8% 55%;
  --light: 180 14% 85%;
  --warning: 6 66% 63%;

  /* Spacing */
  --space-xs: 8px;
  --space-sm: 16px;
  --space-md: 24px;
  --space-lg: 32px;
  --space-xl: 40px;

  /* Content Widths */
  --content-sm: 40ch;
  --content: 60ch;

  /* Border Radius */
  --round-sm: 4px;
  --round-md: 10px;
  --round-lg: 25px;
  --round-full: 100vmax;

  /* Toast Customizations */
  --toastify-color-success: hsl(var(--accent));
}

/* Global Styles */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: var(--fs-400);
  line-height: var(--lh-1-4);
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background-color: hsl(var(--bkg));
  color: hsl(var(--text));
}

/* Utility Layouts */
.flex-lg {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  gap: var(--space-lg);
}

.flex-md {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  gap: var(--space-md);
}

.flex-sm {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  gap: var(--space-sm);
}

.grid-lg {
  display: grid;
  gap: var(--space-lg);
  width: 100%;
}

.grid-md {
  display: grid;
  gap: var(--space-md);
  width: 100%;
}

.grid-sm {
  display: grid;
  gap: var(--space-sm);
  width: 100%;
}

.grid-xs {
  display: grid;
  gap: var(--space-xs);
  width: 100%;
}

[hidden] {
  display: none;
}

/* Main Layout */
.layout {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.layout > img {
  width: 100%;
}

main {
  max-width: 1500px;
  width: 100%;
  padding: var(--space-md) var(--space-md) var(--space-xl);
  margin-inline: auto;
  display: grid;
  place-items: start;
}

/* Toast */
.Toastify__toast-body {
  font-size: var(--fs-300);
}

/* Responsive Styles */
@media (max-width: 1024px) {
  main {
    padding: var(--space-sm) var(--space-sm) var(--space-lg);
  }
}
